<header class="nav-bar">
        {{>menu in=true name=false}}
    </header>
<section class="city-page">
 
    <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">
    

    <h3>We the undersigned from <span class="cap color-bold-city">{{city}}</span> demand that refusing eating cheese becomes a criminal act! </h3>

<div class="list-signers-box">
    {{#rows}}
      {{#if url}}
        
             <p class="list-signers"><a href="{{url}}" target="_blank" rel="noopener noreferrer" class="link-signers" >{{first}} {{last}}</a></p>
             {{else}}<p class="list-signers">{{first}} {{last}}</p>
            
            {{/if}}
           
    {{/rows}}

</div>

</section>