<header class="nav-bar">
        {{>menu in=true name=true}}
    </header>
<section class="signers-page">

    <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">
    <h3 class="title-signers-box">We the undersigned demand that refusing eating cheese becomes a criminal act! </h3>


    <div class="list-signers-box">
        {{#rows}}
        <div class="signers-row-box">
             {{#if url}}
        
             <p class="list-signers"><a href="{{url}}" target="_blank" rel="noopener noreferrer" class="link-signers" >{{first}} {{last}}</a> {{age}} <a class="link-signers" href="/signers/{{city}}">{{city}}</a></p>
             {{else}}<p class="list-signers">{{first}} {{last}} {{age}} <a class="link-signers" href="/signers/{{city}}">{{city}}</a></p>
            
            {{/if}}
           
        </div>
        {{/rows}}

    </div>

</section>

